/* 全域 */
/* icon_line.js */
.line,.line_lg{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  p{
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
  }
}
.line_lg{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .imgs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    svg{
      width: 30px;
      height: 30px;
      transform: rotate(22deg);
      color: rgba(199, 150, 80, 1);
    }
  }
  p{
    font-size: 36px;
    text-shadow: #000 1px 0px 1px;
    text-wrap: nowrap;
  }
}
/* computer */
@media screen and (min-width: 1081px) {

  /* icon_line.js */
  .line{
    justify-content: center;
    p{
      font-size: 30px;
      color: #fff;
      text-shadow: #fff 1px 0px;
    }
    img{
      display: none;
      
    }
  }
  
  }

  
/* mobile */
@media screen and (max-width: 1080px) {
  /* icon_line.js */ 
  .line{
    display: flex; 
    justify-content: space-between;
    p{
      color: #000;
      text-shadow: #000 1px 0px;
      font-size: 36px;
    }
    img{
      width: 8%;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }
  /* cards.js */
  
}