.productMenu{
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  a{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #6b4f37;
    border-radius: 16px;
    white-space: nowrap;
  }
  .title.parent p{
      text-shadow: #6b4f37 0.5px 0.5px 1px;
    }
  .title p{
    padding: 0;
    margin: 0;
    font-size: 18px;
  }
  a:hover{
    text-decoration: underline;
  }
  a.active{
    background-color: rgba(199, 150, 80, 1);
    color: #fff;
  }
}
