.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 100px;
}

.h3{
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.iconLine{
  width: 100%;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  >div{
    width: 450px;
  }
}
.imgs{
  display: flex;
  flex-direction: column;
  gap: 10px;

  .imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.1s ease; 
    }
  }
  .imgsBottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    >button{
      border: none;
      background-color: #ffffff00;
    }
    .img_group{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;
      overflow: hidden;
  
      .imgs_item{
        overflow: hidden;
        width: 100px;
        aspect-ratio: 1/1;
        border-radius: 12px;
        border: none;
      }
    }
  }
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;

  >:nth-child(1){
    display: flex;
    flex-direction: column;
    
    .iconGroup{
      justify-content: end;
    }
  }
  >:nth-child(3){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  flex-wrap: wrap;
  gap: 10px;

  
  }

  >:nth-child(3){
    .priceGroup{
      display: flex;
      flex-direction: column;
      justify-content: start;
      /* align-items: flex-end; */
      gap: 5px;
      p{
        padding: 0;
        margin: 0;
      }
    }
    .iconGroup :nth-child(2) :first-child{
      cursor: pointer;
      color: rgb(83, 108, 198);
    }
  }

  .iconGroup{
    display: flex;
    flex-direction: row;
    gap: 10px;
    .comment{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding: 5px 8px;
      border-radius: 8px;
    }
  }

  .productVariant{
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
      padding: 0;
      margin: 0;
    }
    .variantGroup{
      display: flex;
      flex-direction: row;
      gap: 8px;
      .comment{
        padding: 5px 8px;
        background-color: rgba(243, 243, 243, 1);
        color: rgba(58, 73, 128, 1);
        border-radius: 15px;
        border: none;
      }
      .comment.active{
        background-color: rgba(58, 73, 128, 1);
        color: rgba(243, 243, 243, 1);
      }
    }
  }

  .btnGroup{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 14px;

    >div,button{
      width: 148px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .countBtn{
      background-color: rgba(243, 243, 243, 1);
      color: rgba(58, 73, 128, 1);
      border-radius: 23px;
      padding: 12px 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      input{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        background-color: rgba(243, 243, 243, 1);
        border: none;
      }
      button{
        width: 16px;
        height: 16px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center

      }
      button:hover{
        cursor: pointer;
        border-radius: 50%;
        background-color: rgba(58, 73, 128, 0.11);
        box-shadow: 0px 0px 10px rgba(58, 73, 128, 0.322);
      }
    }
    .addCartBtn{
      background-color: rgba(58, 73, 128, 1);
      color: rgba(243, 243, 243, 1);
      border: none;
      border-radius: 23px;
      padding: 12px 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    .noStock{
      background-color: rgb(141, 141, 141);
      color: rgba(243, 243, 243, 1);
      border: none;
      border-radius: 23px;
      padding: 12px 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

  }
  .shareBtn{
    background-color: transparent;
    border: none;
    color: #4a6c99;
  }

  .promotions{
    border: 1px solid rgb(171, 175, 171);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .promotion{
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
    svg{
      color: rgba(215, 89, 81, 1);
    }
  }
}

/* 介紹區 */
.discription{
  position: relative;
  width: 100%;
  background-color: #ffffff80;
  padding: 5%;
  border-radius: 20px;
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  h1{
    font-size: 2rem;
  }
  p{
    max-width: 600px;
  }
  strong{
    color: #c79650;
  }
  h2{
    margin: 20px auto 0;
  }
  h1,p,ul,ol{
    margin: auto;
  }
  
}
.description_bg{
  position: absolute;
  font-size: 300px;
  z-index: -1;
  color: #c79650;
}
.description_bg:nth-child(1){
top: 100;
left: -50px;
transform: rotate(130deg);

}
.description_bg:nth-child(2){
top: 50%;
right: -50px;
transform: rotate(-70deg);

}
.description_bg:nth-child(3){
bottom: -50px;
transform: rotate(30deg);

}

/* 評論區 */
.contain{
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  font-size: 24px;


  .containTitle{
    background-color: rgba(89, 62, 47, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #fff;
    p{
      padding: 0;
      margin: 0;
    }
  }
  .containBody{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    padding-bottom: 10px;
    max-height: 500px;
    overflow-y: auto;
    
    .reviewItem{
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-bottom: gray 1px solid;
      padding: 15px 0;

      .reviewItemTitle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

          .left{
            display: flex;
            flex-direction: column;
            gap: 5px;
            
              .top{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                  .user{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 10px;

                      .userImg{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(214, 211, 211);
                        width: 40px;
                        height:40px;
                        border-radius: 50%;
                        overflow: hidden;
                        svg{
                          color: #fff;
                        }
                        img{
                          width: 100%;
                          object-fit: cover;
                          display: block;
                        }
                      }
                  }

              }
              .reviewProduct{
                color: gray;
                font-size: 18px;
              }
            
          
          }
          .rating{
            display: inline-flex;
            height: auto;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            padding: 5px 10px;
            background-color: rgba(251, 243, 234, 1);
            color: rgba(212, 141, 59, 1);
            /* font-size: 18px; */
            border-radius: 21px;
            }
      }
      >p{
        padding: 0;
        margin: 0;
      }
    }
  }
}

/* 推薦 */
.groupBody{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  max-width: 100%;
  
}

.noreview{
  margin: auto;
}
.thisLike{
  color: #d75951;
  background-color: transparent;
  border: none;
}
.thisLike:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .row > div {
    width: 100%;
  }
  .btnGroup {
    flex-direction: column;
    width: 100%;
  }
  .imgContainer img{
    width: 100% !important;
    height: 100%;
  }
  .description_bg{
    display: none;
  }
}
