

.statusContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusBadges {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviewButton {
  color: #c2bc9b;
  background-color: #F0F0F0;
  /* color: white; */
  font-weight: 500;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reviewButton:hover {
  background-color: #E0E0E0;
  color: #a29c7c;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}