.containTitle{
  gap: 5px;
    >:first-child{
      width: 50px;
    }
    >:nth-child(2){
      width: 30%;
    }
    >div{
      width: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
}
.containBody{
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
  >div{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    gap: 5px;

    >:first-child{
      width: 50px;
    }
    >:nth-child(2){
      width: 30%;
      overflow-wrap: break-word;
      word-break: break-all;
      white-space: normal;
      hyphens: auto;
    }
    >:last-child{
      overflow-wrap: break-word;
      word-break: break-all;
      white-space: normal;
      hyphens: auto;
    }
    >div{
      width: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}