.headerSection {
  color: #f4f0ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 1995px;
  max-width: 100%;
  font-size: 120px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.headerBackground {
  aspect-ratio: 2.35;
  object-fit: contain;
  object-position: center;
  align-self: center;
  width: 100%;
  z-index: 0;
}

.pageTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: center;
}

.member_container {
  width: 100%;
  max-width: 800px; /* 調整容器寬度 */
  margin: 30px auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.profile_form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.formLabel {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* 將按鈕置中對齊 */
  align-items: center; /* 將按鈕垂直置中對齊 */
  gap: 10px; /* 按鈕之間的間距 */
  margin-top: 20px; /* 按鈕上方的間距 */
}