.forumInfo {
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.forumInfoHeader {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--primary-dark);
  padding: 0.75rem;
}

.forumHeader {
  background-color: white;
  border: none;
}

.forumRules {
  color: var(--secondary-color);
}

.forumRules ul {
  color: var(--secondary-color);
}

.loadingSpinner {
  text-align: center;
  padding: 1rem;
}
