body{
  padding: 0px !important;
  height: auto !important;
  overflow: visible !important;
}

.customSwal{
border-radius: 30px !important;
}

.customConfirm,.customCancel {
  border-radius: 18px;
}
.customConfirm {
  background-color: rgba(205, 162, 116, 1);
}
.customCancel{
  background-color: gray;
}