.container {
  max-width: 600px;
  margin: 40px auto;
  margin: 40px auto;
  padding: 30px;
  background-color: #fffdf9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}
/* 各區塊標題 */
.sectionTitle {
  font-size: 20px;
  color: #8b5e34;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 標題 */
.header {
  font-size: 28px;
  font-weight: bold;
  color: #6b4f37;
  margin-bottom: 30px;
  text-align: center;
}

.detailBox {
  background: #fff6e6;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
}

.detailBox p {
  font-size: 18px;
  color: #6b4f37;
  margin-bottom: 10px;
}

.backButton {
  background: #cda274;
  color: white;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.backButton:hover {
  background: #b38560;
}
.chooseButton {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
.chooseButton button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: #b6ad8f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chooseButton button:hover {
  background: #b6a277;
}
