.imagePreviewContainer {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.imagePreview {
  position: relative;
}

.removeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
