.main {
  max-width: 100%;
}

.pageTitle {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.pageTitle p {
  padding: 0px;
  margin: 0px;
}

.title {
  font-size: 36px;
  text-shadow: #000 1px 0px 1px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.contain_body {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;

  .searchBar {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .searchBar input {
    width: 100%;
    max-width: 600px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
  }
  .sortSelect {
    /* min-width: 50px; */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
  }
  
  .searchBar input:focus {
    border-color: rgba(199, 150, 80, 1);
    outline: none;
  }

  p{
    padding: 0;
    margin: 0;
    color: #726c6c;
  }
  
}



.group {
  width: 100%;
  margin-bottom: 30px;
}

.groupTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p{
    padding: 0;
    margin: 0;
    color: #726c6c;
  }
  a{
    color: #c4a284;
    font-size: 16px;
  }
  a:hover {
    color: #c77f3d;  
    transform: scale(1.05); 
    text-decoration: underline;
  }
}

.groupBody {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardGroup {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px 0;
  gap: 20px;
  width: 100%;
}

.searchGroup{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
}

.noCategory {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.noCategory a div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 10px;
}

.noProductMessage {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}
