.main{
  p{
    padding: 0;
    margin: 0;
  }
}
.h2{font-size: 30px;}
.p1{font-size: 18px;}
.row{
    display: flex;
    flex-direction: row;
    
    .productGroup{
      display: flex;
      flex-direction: column;
      gap: 60px;

      .item{
        width: 700px;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 20px;
        padding-right: 35px;
        background-color: #fff;
        border-radius: 35px;

        .delItemBtn{
            display: flex;
            justify-content: center;
            align-items: center ;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 20px;
            background-color: #fff;
            border: none;
        }

        .image{
          width: 200px;
          height: 200px;
          border-radius: 26px;
          overflow: hidden;
          flex-shrink: 0; /* 防止圖片被壓縮 */
        }

        .info{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .infoTop{
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .infoBottom{
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-between;
            align-items: center;

            .count{
              background-color:  rgba(243, 243, 243, 1);
              padding: 12px 18px;
              border-radius: 15px;

              button{
                border: none;
                background: rgba(0, 0, 0, 0);
              }
  
              input{
                max-width: 50px;
                border: none;
                text-align: center;
                background: rgba(0, 0, 0, 0);
              }
            }
          }


        }

      }
      }
  } 
