.main{
  p{
    padding: 0;
    margin: 0;
  }
}
.product_name{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h2{font-size: 30px;}
.p1{font-size: 18px;}
.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
    font-size: 30px;
    
    .productGroup{
      display: flex;
      flex-direction: column;
      gap: 60px;
      align-items: start;

      .delALL{
        padding: 0 10px;
        font-size: 25px;
        border: none;
        background-color: rgba(89, 62, 47, 1);
        color: #fff;
        border-radius: 15px;
      }

      .item{
        display: flex;
        flex-direction: column;
        max-width: 650px;
        position: relative;
        padding: 20px;
        padding-right: 35px;
        background-color: #fff;
        border-radius: 35px;
        gap: 10px;
        
        .delItemBtn{
            display: flex;
            justify-content: center;
            align-items: center ;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 20px;
            background-color: #fff;
            border: none;
        }

        .promotion{
          font-size: 18px;
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 10px;
          color: rgb(196, 123, 28);
          }
          svg{
            font-size: 20px;
            
        }
        .itemBottom{
          display: flex;
          flex-direction: row;
          gap: 30px;
  
            .image{
              width: 200px;
              height: 200px;
              border-radius: 26px;
              overflow: hidden;
              flex-shrink: 0; /* 防止圖片被壓縮 */
            }
    
            .info{
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
    
              .infoTop{
                display: flex;
                flex-direction: column;
                gap: 10px;
              }
    

    
              .infoBottom{
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
    
                .price{
                  display: flex;
                  flex-direction: row;
                  gap: 20px;
    
                  del{
                    font-size: 20px;
                    color: gray;
                  }
                }
                .count{
                  background-color:  rgba(243, 243, 243, 1);
                  padding: 12px 18px;
                  border-radius: 15px;
    
                  button{
                    border: none;
                    background: rgba(0, 0, 0, 0);
                  }
      
                  input{
                    max-width: 50px;
                    border: none;
                    text-align: center;
                    background: rgba(0, 0, 0, 0);
                  }
                }
              }
    
    
            }
        }

      }
      }

    .detail{
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;
      color: #fff;
      background-color: rgba(89, 62, 47, 1);
      border-radius: 20px;

      p{
        margin: 0;
        padding: 0;
      }

      hr{
        color: #fff;
        padding: 0;
        margin: 0;
      };

      .detailTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-size: 20px */
      }

      .detailContent{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .item{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .detailBtn{
        display: flex;
        flex-direction: column;
        gap: 20px;

       button,a{
          padding:5px ;
          border-radius: 57px;
          border: none;
          background-color: rgba(205, 162, 116, 1);
          color: #fff;
          display: flex;
          justify-content: center;
        }

      }


    }
  } 

  /* 沒有商品 */
  .noProduct {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /* 讓它保持在視窗中央 */
    text-align: center;
    gap: 12px;
  }
  
  .noProduct p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .noProduct a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7b54; /* 亮眼橘色 */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
  }
  
  .noProduct a:hover {
    background-color: #e65c3c; /* 深一點的橘紅色 */
  }

  .detailRWD{
    display: none;
  }
  
  @media screen and (max-width: 768px)  {
    .detail{
      display: none !important;
    }
    .detailRWD{
        width: 100%; 
        height: 150px;
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        align-items: center;
        background-color: rgba(89, 62, 47, 1);
        color: #fff;

        p{
          padding: 0;
          margin: 0;
        }

        >div >div {
          display: flex;
          flex-direction: row;
        }
        .detailTitle {
          display: none;
        }
    
        .detailContent {
          flex-direction: column;
          gap: 5px;

        }
    
        .item {
          width: 100%;
          justify-content: space-between;
        }
        .detailBtn{
          display: flex;
          flex-direction: column;
          gap: 20px;
  
        button,a{
            padding:5px ;
            border-radius: 57px;
            border: none;
            background-color: rgba(205, 162, 116, 1);
            color: #fff;
            display: flex;
            justify-content: center;
          }
  
        }
    }
    .row{
      /* 商品 */
      .productGroup{
        margin-bottom: 170px;
        font-size: 20px;
        width: 100%;
        .h2{
          font-size: 20px;
        }
        .item{
          width: 100%;
        }
        .image{
          width: 100px !important;
          height: 100px !important;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .itemBottom{
          width: 100% ;
          align-items: center;
        }
        .info{
          width: 100%;
          gap: 10px;
        }
        .infoTop{
          gap: 5px;
        }
        .infoBottom{
          flex-wrap: wrap;
        }
        .count{
          flex-wrap: nowrap;
          white-space: nowrap;
        }
      }

    }
  }