.image {
  object-fit: cover;
  width: 360px;
  height: 360px;
  border-radius: 8px;
}
.donate_container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
.donate_item {
  display: flex;
  width: 40%;
}

.ul {
  list-style: none;
}

.li_image {
  margin-right: 5px;
  border: 1px solid rgba(126, 122, 102, 0.473);
  border-radius: 3px;
}
