.badge {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  color: white;
  background: rgb(73, 194, 73);
}

.pending {
  color: white;
  background: rgb(233, 184, 93);
}

.failed {
  color: white;
  background: rgb(219, 82, 82);
}

.default {
  color: rgb(255, 255, 255);
  background: rgb(134, 134, 134);
}
